---
layout: page
title: "Achievements"
description:
---
<section id="experience">
    <div class="container">
        <div class="row">
            {% for year in site.data.achievements %}
            <div class="col-lg-8 col-lg-offset-2">
                <h3 class="section-heading">{{ year.year }}</h3>
                <ul>
                    {% for i in year.achievements %}
                    <li>{{ i }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
