<section id="community" class="{{include.classname}}">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Community Involvement</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h3 class="section-heading">VNOI Volunteer</h3>
                <small class="text-muted">August 2021 - Present</small>
                <p>Volunteer of <a href="https://team.vnoi.info/">Vietnamese Olympiad in Informatics Community</a>. Creating educational contents in informatics for Vietnamese students.</p>
            </div>
            <div class="col-lg-8 col-lg-offset-2">
                <h3 class="section-heading">BHT Volunteer</h3>
                <small class="text-muted">January 2018 - December 2018</small>
                <p>Head Of Program Management of <a href="https://www.facebook.com/baygiotinhh">Bay Gio Tinh non-profit organisation</a>. Planning activites for students in Ho Chi Minh City to hone soft skills.</p>
            </div>
        </div>
    </div>
</section>
