<section id="community" class="{{include.classname}}">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Community Involvement</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h3 class="section-heading">IOI 2020 Host Scientific Committee</h3>
                <small class="text-muted">Feb 2020 - September 2020</small>
                <p>Member of the <a href="https://ioi2020.sg/committees/">IOI 2020 Host Scientific Committee</a>. Helped select IOI problems from the shortlist, as well as prepare the selected problems.</p>
            </div>
            <div class="col-lg-8 col-lg-offset-2">
                <h3 class="section-heading">IOI 2018 Trainer</h3>
                <small class="text-muted">June 2018 - September 2018</small>
                <p>Main coach for the <a href="https://stats.ioinformatics.org/delegations/SGP/2018">Singapore's IOI 2018 team</a>.</p>
            </div>
            <div class="col-lg-8 col-lg-offset-2">
                <h3 class="section-heading">NOI Trainer</h3>
                <small class="text-muted">November 2017 - December 2017</small>
                <p>Head trainer for the NOI Introduction course and Advanced course held at NUS.</p>
            </div>
            <div class="col-lg-8 col-lg-offset-2">
                <h3 class="section-heading">NUS Math Society &mdash; Latexify sub-committee</h3>
                <small class="text-muted">2018 - Present</small>
                <p>Member of the NUS Math Society Latexify sub-committee. Made solutions for some Math modules from NUS past exams. Solutions were typed out in LaTeX and published on the <a href="https://nusmathsoc.org/#/pyp">Math Society website</a>.</p>
            </div>
        </div>
    </div>
</section>
