<section id="education">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Education</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h3 class="section-heading">National University of Singapore</h3>
                <small class="text-muted">August 2018 - Present</small>
                <p class="bottom-margin-0">Awarded NUS Merit Scholarship to study at the School of Computing. Double degree in:</p>
                <ul>
                    <li>
                        Computer Science
                        <br>
                        <small class="text-muted">current CAP 4.9/5</small>
                    </li>
                    <li>
                        Applied Mathematics
                        <br>
                        <small class="text-muted">current CAP 4.9/5</small>
                    </li>
                </ul>
                <p><a href="/N_SR_TSRPT.pdf">Unofficial transcript</a></p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h3 class="section-heading">NUS High School of Math and Science</h3>
                <small class="text-muted">2012 - 2017</small>
                <p class="bottom-margin-0">Graduated with Diploma (High Distinction) with Honours in Mathematics, Physics and Computer Studies,
                and Major in Chemistry, 2017. Cumulative Average Point (CAP) for Graduation (All Years): 4.7 (max
                5.0).</p>
                <ul>
                    <li>Mathematics Major CAP: 5.0</li>
                    <li>Mathematics Honours CAP: 5.0</li>
                    <li>Physics Major CAP: 5.0</li>
                    <li>Physics Honours CAP: 5.0</li>
                    <li>Computing Studies Major CAP: 4.8</li>
                    <li>Computing Studies Honours CAP: 5.0</li>
                    <li>Chemistry Major CAP: 4.8</li>
                </ul>
            </div>
        </div>
    </div>
</section>
