<section id="experience" class="{{include.classname}}">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Work Experience</h2>
                <hr class="primary" />
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h3 class="section-heading">
                    A*STAR Institute for Infocomm Research (I2R)
                </h3>
                <small class="text-muted">January 2022 - April 2022</small>
                <p>
                    Student Research Intern at the Aural & Language Intelligence
                    (ALI) Department
                </p>
                <p>
                    Crawled 1 million of English-Vietnamese sentences with
                    BeautifulSoup and Selenium.
                </p>
                <p>
                    Trained machine translation (40+ BLEU score) and quality
                    estimation models using Fairseq for Vietnamese Neural
                    Machine Translation Engine.
                </p>
            </div>
        </div>
    </div>
</section>
