<section id="experience" class="{{include.classname}}">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Work Experience</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h3 class="section-heading">Jane Street Software Engineer Intern</h3>
                <small class="text-muted">May 2020 - August 2021</small>
                <p>Worked on apps in OCaml related to trading.</p>
            </div>
            <div class="col-lg-8 col-lg-offset-2">
                <h3 class="section-heading">Google STEP Intern</h3>
                <small class="text-muted">May 2020 - August 2020</small>
                <p>Worked on <a href="https://github.com/googleinterns/step203-2020">DealFinder</a> as a capstone project, a webapp that allows users to upload and share deals, hosted on Google's app engine. Project uses Java Servlets for the backend, and bootstrap for the frontend.</p>
            </div>
            <div class="col-lg-8 col-lg-offset-2">
                <h3 class="section-heading">GIC</h3>
                <small class="text-muted">May 2019 - July 2019</small>
                <p>Worked on frontend and backend on a chart sharing web app using React and Django.</p>
            </div>
            <div class="col-lg-8 col-lg-offset-2">
                <h3 class="section-heading">GovTech</h3>
                <small class="text-muted">June 2018</small>
                <p>Worked on the traintraintrain project, which allows commuters to track MRT train locations in real-time. Automated anomaly detection in train timings and set up a notification system using AWS.</p>
            </div>
            <div class="col-lg-8 col-lg-offset-2">
                <h3 class="section-heading">Undergraduate Teaching Assistant</h3>
                <small class="text-muted">January 2019 - April 2019</small>
                <p>Tutor for CS2040C, Data Structures and Algorithms.  Conducted tutorials and consultations. </p>
                <small class="text-muted">August 2020 - November 2020</small>
                <p>Tutor for CS3230, Design and Analysis of Algorithms.  Conducted tutorials, as well as set programming assignments. </p>
            </div>
        </div>
    </div>
</section>
